// Variables
$website-width: 1280px;
$main-color: #809cba;
$main-color: #900C3F ;
$secondary-color: #23242a;
// $medium-color: #323741;
$medium-color: #738ca7;
$medium-color: #810a38;
$light-color: #ccc;
$dark-color: #2a2f3b;




