.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Buttons 
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $main-color;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: $main-color;
    border: 3px #fff solid;
  }

  &-dark {
    @extend %btn-shared;
    color: $main-color;
    border: 3px $main-color solid;
  }

  &-toggle {
    @extend %btn-shared;
    padding: 8px 12px;
    border-radius: 50%;
    position: fixed;
    display: inline-block;
    top: 10px;
    z-index: 201;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: $main-color;
  color: #fff;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

// Swiper Pagination/btn

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff !important;
}
