@import 'config';
@import 'utilities';





// General Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0,0,0,0.75) url('../img/pixel.png');
  background-blend-mode: darken;
  font-family: 'Press Start 2P', sans-serif;
  line-height: 1.7;
}



a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}


img {
  width: 100%;
}



// Main Nav
#main-nav {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  
   
  .navbar-list{
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 200;
  }
 
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    
  }

  .nav-item {
    font-size: 30px;
    color: $main-color;
    border-bottom: 2px transparent solid;
    transition: all 0.5s ease;


    &:hover {
      border-color: $main-color;
    }
  
  }
}

// Header 
#header {
  // Header Home
  &-home {
    color: $secondary-color;
    height: 100vh;
    width: 100vw;
    padding: 40px 15px;
    position: relative;

    // Header Content
    .header-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-top: 15%;

      h1 {
        font-size: 2.5rem;
        line-height:1.9;

        span {
          color: $main-color;
        }
      }
      
      .lead-contain{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 150px;
        margin-bottom: 20px
      
      }

      .lead {
        font-size: 1.5rem;
        margin-top: 20px;
        width: 70%;
      }


      .hero-btn-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          margin: 5px;
        }
      }
    }
  }
}

// Tools Section 

#tools {
  &-section {
    width: 100%;
    padding-bottom: 10rem ;
    
    .tools-header {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        margin-top: 30px;
        color: $main-color;
        font-size: 2rem;
      }

    .fa-toolbox {
      color:$main-color;
      margin: 25px 0 0 20px; 
    }
    }
    .tools-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

   

      .tool-box {
        background: url('../img/crate1.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: $main-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 500px;
        height: 400px;
        margin: 30px;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;

        &:hover {
            background: url('../img/crate1Opened.png') ;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            color: rgba(0, 0, 0, 0);

        }

      .tools{ 
        width: 100%;
        height: 100%;
        margin: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

          h2{ 
            font-size: 2rem;
          }
          
          i {
            margin: 20px;
            opacity: 0;
          
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}


// Work Section

#work {
  &-section {
    height: 600px;
    background-color: $main-color;



    .container {
      display: flex;
      justify-content: center;
      align-items: center ;
      width: 100%;

      h2 {
        font-size: 30px;
        color: #fff;
      }

      i {
        color: $main-color;
        margin-left: 10px;
        color: #fff;
      }



    }
    
  .swiper{
        height: 100%;
        &-wrapper{
          .swiper-slide{
          background-color: #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
          }
        }
    }
  }
}