@import 'config';
@import 'utilities';

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quantico', sans-serif;
  line-height: 1.7;;
  background: #fff;
  transition: transform 0.3s ease;
}

body.show-nav {
  // width of nav
  transform: translateX(200px);
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}



// Main Nav
#main-nav {
  position: fixed;
  background-color: $medium-color;
  padding-top: 1rem;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);

  ul{
    padding: 0;
    margin:0;
  }

  li {
    padding: 1rem 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: #fff;
    }
    &.current {
      border-color: $main-color;
    }
  }
  .logo {
    font-size: 3rem;
    text-align: center;
    height: 75px;
    width: 75px;
    margin: 3.7rem;
  }


}

// Header 
#header {
  // Header Home
  &-home {
    color: #fff;
    background-color: #900C3F;
    height: 100vh;
    width: 100vw;
    padding: 40px 15px;
    position: relative;

    // Navbar Toggle
    .navbar-toggle{
      position: absolute;
      top: 20px;
      right: 20px;

    }

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

    

      h1 {
        font-size: 4rem;
        line-height:1.2;
      }
    }
  }

  &-inner {

  }
}