@import 'config';
@import 'utilities';

// General Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow: hidden;
}

body {
  font-family: 'Quantico', sans-serif;
  line-height: 1.7;
}


a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.nav-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


// Main Nav
#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;


  .navbar-list{
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    height: 70px;
    width: 500px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius:  2rem;
    background-color: #fff;
    z-index: 200;
    transform: translateY(-100%);
    transition: all 0.8s ease;

  }

  .navbar-list.show-nav{
      transform: translateY(0%);

    }
 

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .nav-item {
      font-size: 20px;
      color: $main-color;
    border-bottom: 2px transparent solid;


    &:hover {
      border-color: $main-color;
    }
  
  }
  .logo {
 
  }


}

// Header 
#header {
  // Header Home
  &-home {
    color: #fff;
    background-color: $main-color;
    height: 100vh;
    width: 100vw;
    padding: 40px 15px;
    position: relative;
    z-index: 10px;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height:1.2;
      }
    }
  }
}